<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse"  style="background-color:#fafafa; border:white; padding:10px; position:static; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">
         ReviewApp</a>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!-- Adding a search form  -->
                <form class="navbar-form" role="search" align="middle" action="">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search project" name="name">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" ></i></button>
                        </div>
                    </div>

                </form>
                <!-- search form end -->
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                          <a href="#" id="instTitle" style=" margin-right:10px; font-size:25px;">
                              <span class="glyphicon glyphicon-user" style="font-size:20px;color:black"></span>
                          </a>



                          <a href="accounts/login">
                              <i class="glyphicon glyphicon-log-out" style="font-size:20px;color:black" href="accounts/login">logout</i>
                          </a>

                      </div>
      <div class="col-sm-6 col-md-6">
                {% if user.is_authenticated %}








                {% else %}
                <li>
                  <a class='btn btn-default' href="/accounts/login">Login</a>
                </li>
                {% endif %}
          </div>

  </div>
</nav>
</body>
</html>
