{%extends 'all-templates/base.html'%}
{{block.super}}
{% block content %}


{% for all in all_profile%}
<div class="content-section">
  <div class="media">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <img class="rounded-circle account-img" src="{{all.dpic.url}}" alt="" style='border-radius:50%; '>
      <div class="media-body">
        <h2 class="account-heading">{{all.u_name}}</h2>
        <p>{{all.bio}}</p>
      </div>
    </div>

    <div class="col-md-4">
    </div>
    
  </div>
</div>
{% endfor %}
{% endblock %}
