{%extends 'all-templates/base.html'%}
{% block content %}
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for new_item in new %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ new_item.title }} </h2>
      <img src="{{ new_item.project_img.url }}" alt="img">
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">nothing</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}
